@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

.navbar-text{
    color: #fff!important;
}

.navbar-dark {
    background-color: #063f93;
}
/* 
VIEWPORTS

mobile: 375px;
tablet: 768px;
desktop: 1024px;

*/
/* contact us immediately starts */
.contact-us {
    width: 100%;
    height: 33vh;
    position: relative;
}
.contact-us img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.contact-us-overlay {
    background-color: rgba(0,0,0, .7);
    text-align: right;
    position: absolute;
    padding-right: 10px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 95%;
    height: 100%;
    margin: 0 auto;
    color: white;
}
@media screen and (min-width: 768px) {
    .contact-us {
        height: 37vh;
    }
    .contact-us-overlay {
        line-height: 1.3;
        max-width: 360px;
        margin-right: 15%;
    }
}
@media screen and (min-width: 1024px) {
    .contact-us {
        height: 50vh;
    }
    .contact-us-overlay {
        max-width: 360px;
        margin-right: 20%;
        line-height: 1.5;
    }
}
.within {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
button.callback {
    background-color: #FF4F00;
    color: white;
    border: none;
    padding: 15px;
    width: 180px;
    height: 50px;
    margin: 0 auto;
    font-size: .7em;
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
}
button.callback:hover {
    color: #FF4F00;
    background-color: white;
    border: 2px solid #FF4F00;
}
/* contact us immediately ends */



/************* 10% off started *************/

section.promo {
    margin: 10px -20px;
    padding: 50px 10px;
    text-align: right;
    color: white;
    background-image: url('./images/off-bg.jpg');
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    background-origin: border-box;
    background-attachment: scroll;
}
.promo-head {
    font-size: 1.7em;
    font-weight: 700;
}
.promo-cta {
    background-color: #fff;
    padding: 15px 0;
    width: 150px;
    display: block;
    color: #40313b;
    cursor: pointer;
    border-radius: 5px;
    margin: 15px auto 0;
    transition: .3s all ease-in-out;
    font-family: Roboto, sans-serif;
}
.promo-cta:hover {
    color: white;
    background-color: #ff4f00;
}
@media screen and (min-width:768px) {
    section.promo {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    .promo-sub-text {
        font-size: .8em;
    }
    .promo-cta {
        margin: 0;
    }
}
@media screen and (min-width:1024px) {
    section.promo {
        padding: 80px 0;
        justify-content: center;
    }
    .promo-head {
        font-size: 2.2em;
        margin-bottom: 12px;
    }
    .right{
        margin-left: 100px;
    }
    .promo-cta {
        font-size: .8em;
        width: 200px;
        padding: 20px 0;
    }
}
/************* 10% off ends *************/